<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>World Gaming Fedration</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="http://127.0.0.1:3000">Homepage</a></li>
			
			<li><a href="http://127.0.0.1:3000/about">About</a></li>
			<li><a href="http://127.0.0.1:3000/contact">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu --> 
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1>Game Forever</h1>
			<p>Design by &nbsp; J.A.R.V.I.S</a></p>
		</div>
	</div>
</div>
<div id="wrapper"> 
	<!-- end #header -->
	<div id="page-bgtop"></div>
	<div id="page">
		<div><img src="images/1.jpg" width="920" height="500" alt="" /></div>
		<div id="content">
        <div style="border-style: solid; border-color: blue; border-width: 2.5px; margin: 20px; width: 600px; height:675px ;" >

            <div style="border-style: solid; border-color:teal; border-width: 2.5px; margin: 20px; width: 250px; height:300px ; float: right;" >
        
              <p style="padding: 2px; font-style: oblique;">2.<br>Gaming has been a great way to get to know people. 
                That's part of what I love about games, that they are social. 
                Rich SommerGaming has been a great way to get to know people. 
                That's part of what I love about games, that they are social. <br>
             
                by: Rich Sommer</p>
            </div>
            
            <div style="border-style: solid; border-color: blue; border-width: 2.5px; margin: 20px; width: 250px; height:300px ;"  >
                <p style="padding: 2px; font-style: oblique;">1.<br>The more people who come forward and talk about 
                  how much they love gaming, how much they talk about individuality 
                  and diversity, the more gamers of color that come out and gay 
                  gamers that come out and everybody talking about what they love -
                   that's what the community has in common: a love of gaming. 
                  
                   <br>
                  
                  by: Aisha Tyler</p>
             </div>

             <div style="border-style: solid; border-color: blue; border-width: 2.5px;  margin-right: 20px; width: 250px; height:300px ; float: right ; "  >
                <p style="padding: 2px; font-style: oblique;">4.<br>I used to game a lot, you know, back in 
                  the day. My gaming time done got so short that my skills ain't
                   where they need to be to be online, you know what I'm saying?
                    I just got that Xbox One. I gotta get my skills back, up the 
                    par to call myself a gamer.
              
                  
                   <br>
                  
                  by: ice cube</p>
             </div>


             <div style="border-style: solid; border-color:teal; border-width: 2.5px; margin: 20px; width: 250px; height:300px ; "  >
                <p style="padding: 2px; font-style: oblique;">3.<br>I'm super excited about gaming always. 
                  That's the thing that I geek out over; those are the vlogs 
                  that I'm surfing if I'm not already playing a game at night. <br>
                  
                  by: Felicia Day</p>
             </div>

        </div>
       <!-- <div style="border-style: solid; border-color: blue; border-width: 2.5px; margin: 10px; width: 250px; height:300px ;" >
            
         </div>-->
               
      
			
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Search Your Game :</h2>
					<div id="search" >
						<form method="get" action="#">
							<div>
								<input type="text" name="s" id="search-text" value="" />
								<input type="submit" id="search-submit" value="" />
							</div>
						</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					<h2>Game Categories:</h2>
				</li>
				<li>
				
					<ul>
						<li><a href="#">Action</a></li>
						<li><a href="#">Sports</a></li>
						<li><a href="#">Adventure</a></li>
						<li><a href="#">Sci-fi Tech</a></li>
						<li><a href="#">Real World</a></li>
						<li><a href="#">Treasure Hunt</a></li>
					</ul>
				</li>
				
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<div id="page-bgbtm"></div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>2019. DCC. &copy All rights reserved. Design by J.A.R.I.V.S</p>
</div>
<!-- end #footer -->
</body>
</html>

           
